body
{
  margin: auto;
  margin: 20px 20px;
}

.f1
{
  background-color: #FFA233;
  margin-bottom: 20px;
  width: 400px;
  float: left;
  margin-right: 20px;
}

.f2
{
  background-color: #FFB3E0;
  margin-bottom: 20px;
  width: 400px;

}

.f3
{
  background-color: #FFFCB3;
  margin-bottom: 20px;
  float: left;
  width: 400px;
  margin-right: 20px;
}

.f4
{
  background-color: #95FC95;
  margin-bottom: 20px;
  width: 400px;
}

.f5
{
margin-bottom: 20px;
width: 400px;
float: left;
}
