body
{
  width: 900px;
  margin: auto;
  padding: 20px 0 10px 10px;
}
main
{
  background: #F5F6DB;
}
header
{
display: block;
}
h1
{
  font-family: 'Anton', sans-serif;
  margin-bottom: -20px;
  display: inline-block;
  font-size: 45px;
}

nav
{
  text-align: right;
  font-size: 25px;
  padding-bottom: -50px;
  padding-right: 20px;
  font-family: 'Anton', sans-serif;
}
nav a
{
  font-size: 20px;
  padding: 10px 5px;
  color: #E84242
}
#vasen
{
    display: inline-block;
      height: 50px;
}

section
{
  width: 60%;
  float: left;
}
article
{
  padding: 5px 5px 5px 20px;
}
h5
{
  margin-left: 55px;
  margin-top: 5px;
  font-size: 20px;
  font-family: 'Lobster', cursive;
}

ul img
{
  height: 200px;
  padding: 10px 30px;
}
#isokuva
{
  height: 270px;
margin: auto;
padding-top: 6px;
}
hr
{
  height: 7%;
  color: #808080;
  clear: both;
}
.aside
{
  float: right;
  width: 30%;
  padding: 5px;
  border-radius: 10px;
  margin-top: 20px;
  background-color: #787878;
}
aside img
{
  height: 80px;
  padding-top: 20px;
  text-align: center;
}
footer
{
  padding-bottom: 10px;
}

.vasen
{
  float: left;
  padding-left: 10px;
  padding-right: 50px;
}

.keski img
{
  width: 150px;
  margin: auto;
  padding: 0px 100px -100px;
}

aside p
{
  color: #00E5FF
}
p
{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
h2
{
  display: inline-block;
  font-family: 'Anton', sans-serif;
}
aside a img
{
height: 35px;

}
