body
{
  width: 800px;
  margin: auto;
  background-color: #D2D2B2
}
header, footer
{
  background-color: #ADAD85;
  padding: 5px 0px 10px 10px;
}

nav
{
  width: 206px;
  margin: auto;
  background-color: #DBD494;
}
#sivu
{
  float: right;
  background-color: #B7AE5F;
  height: 540px;
}
section
{
  background-color: #DBD494;
  width: 617px;
}
aside, section
{
  padding: 5px 0px 10px 10px;
}
aside > p
{
  padding-right: 15px
}
aside, h2
{
  margin: auto;
}

li
{
margin-top: 8px;
}
#sivu2
{
  float: right;
  background-color: #B7AE5F;
  height: 574px;
