body
{
  margin: auto;
  width: 800px;
}

.tehtava1
{
  margin-top: 20px;
  margin-bottom: 20px;
  width: 50%;
  background-color: #A4896D;
  border-radius: 20px;

}

.tehtava2
{
  margin-bottom: 20px;
  width: 50%;
  background-color: #A4896D;
  border-radius: 20px;
}
